---
import Layout from "../layouts/layout.astro";
---

<Layout title="retrograde">
    <div class="main">
        <div>
            <img src="/images/cart.png" alt="test" class="cart" />
        </div>
        <div class="spacer"></div>
        <div>
            <h1>retrograde</h1>
            <p>
                Have you ever wanted to make a game for a retro console? Then
                this is for you!!!
            </p>
            <p>
                Make a homebrew game for a retro console, get a grant to buy
                that console!!
            </p>
        </div>
        <div class="spacer"></div>
        <div class="tutorials">
            <h2>Learning Resources:</h2>
            <div class="list">
                <ul>
                    <li>
                        <a href="https://www.pokemon-mini.net/">Pokémon Mini!</a
                        >
                    </li>
                    <li>
                        <a href="https://gbdev.io/gb-asm-tutorial/index.html"
                            >OG GameBoy</a
                        >
                    </li>
                    <li>
                        <a href="https://www.nesdev.org/wiki/Programming_guide"
                            >NES!</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="projects">
            <h2>Existing Projects:</h2>
            <p>Coming Soon!!!</p>
            <!-- <div>
                <img src="/images/cart_gb.png" alt="" />
                <img src="/images/cart_gba.png" alt="" />
                <img src="/images/cart_gbc.png" alt="" />
                <img src="/images/cart.png" alt="" />
            </div> -->
        </div>
        <div class="spacer"></div>
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <details>
                <summary>Q: Is this really free?</summary>
                <p>
                    A: This program is being run by <a
                        href="https://hackclub.com/">Hack Club</a
                    >, a nonprofit that makes programs by teenagers for
                    teenagers.
                </p>
            </details>
            <details>
                <summary>Q: Can I do this even if I'm a begginer?</summary>
                <p>
                    A: Yes! We encourage begginers if you need help just ask in <a
                        href="https://app.slack.com/client/E09V59WQY1E/activity"
                        >#retrograde</a
                    > :3
                </p>
            </details>
            <details>
                <summary>Q: Can I use AI for this?</summary>
                <p>
                    A: You are allowed to use AI for debugging purposes, but you
                    cannot use it to make assets.
                </p>
            </details>
        </div>
        <div class="spacer"></div>
        <footer>
            <a href="https://hackclub.com/">Hack Club</a>
        </footer>
    </div>
</Layout>

<style>
    summary {
        font-size: 28px;
    }
    .list {
        text-align: center;
        display: inline-block;
        text-align: left;
    }
    footer {
        display: flex;
        justify-content: flex-start;
        font-size: 20px;
    }

    details {
        margin: 25px;
    }

    details > p {
        margin: 10px;
    }
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 40px;
    }

    h2,
    h1 {
        margin-bottom: 25px;
    }

    .projects > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .projects > div > img {
        transform: scale(0.75);
        transition: transform 0.2s ease;
    }

    .projects > div > img:hover {
        transform: rotate(10deg);
    }

    a {
        font-size: 28px;
        color: whitesmoke;
        text-decoration: none;
    }

    p {
        font-size: 28px;
    }

    a:hover {
        color: floralwhite;
        text-decoration: floralwhite wavy underline;
    }

    .spacer {
        background-color: whitesmoke;
        height: 2px;
        width: 100%;
        margin: 25px;
    }

    .cart {
        margin-top: 25px;
        transition: transform 0.2s ease;
    }

    .cart:hover {
        transform: rotate(10deg);
    }

    .main {
        color: whitesmoke;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        /*background-color: #222034;*/
        width: 100%;
        min-height: 100vh;
    }
</style>
